body {
  background-color: rgb(6, 6, 14);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding: 30px 50px;
  background-color: rgb(5, 5, 11);
  border-bottom: 3px solid rgb(12, 12, 21);
}

.header__logo {
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: rgb(235, 235, 255);
  background: radial-gradient(
    circle,
    rgba(235, 235, 255, 1) 49%,
    rgba(110, 110, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__auth-links {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.header__auth-login {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: white;
  text-decoration: none;
  transition: 0.5s ease-in-out color;
}

.header__auth-login:hover {
  color: rgb(142, 142, 255);
}

.header__auth-profile {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: white;
  text-decoration: none;
  transition: 0.5s ease-in-out color;
}

.header__auth-profile:hover {
  color: rgb(142, 142, 255);
}

.header__auth-logout {
  padding: 6px 7px;
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: white;
  background-color: rgb(12, 12, 21);
  box-shadow: none;
  border: 0;
  border-radius: 10px;
}
* {
  color: white;
}
.profile__container {
  display: flex;
  flex-direction: row;
}

.profile__avatar-container {
  width: 300px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 3px solid rgb(21, 21, 36);
  border-right: 3px solid rgb(21, 21, 36);
}

.profile__avatar {
  width: 200px;
  height: 200px;
  padding-left: 100px;
  padding-right: 100px;
}

.profile__username {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 32px;
}

.profile__email {
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin-bottom: 200px;
    color: rgb(107, 107, 107);
}

.profile__info-container {
  margin-left: 30px;
  margin-top: 30px;
}

.profile__posts {
    margin-left: 20px;
}

.profile__posts-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profile__posts-title {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin-bottom: 33px;
}

.post {
  background-color: rgb(26, 26, 46);
  width: 630px;
  height: 130px;
  border-radius: 10px;
  padding: 20px 20px;
}

.post__details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.post__content {
  margin-bottom: 40px;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(240, 242, 255);
}

.post__author {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: rgb(182, 194, 255);
}

.post__date {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: rgb(182, 194, 255);
}

.delete__btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.like__btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
